<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item">
        <a class="topcoat-icon-button" ng-click="slidePage('/step3')">
            返回
        </a>
    </div>

    
    <div class="topcoat-navigation-bar__item">
        <a class="topcoat-icon-button is-active">
           未结束
        </a>
    </div>

    <div class="topcoat-navigation-bar__item">
     <a class="topcoat-icon-button" ng-click="slidePage('/cbsview2')"> 已结束</a>
    </div>
</div>
<!--
<div ng-controller="GetGuessScore">
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-repeat="item in itemsf" ng-click="loadItem(item)">
            总积分:{{item.usercore}}可用积分:{{item.freecore}}
            
        </li>
    </ul>
</div>

-->
<div class="GGGpad" ng-controller="GetTeamList1Ctrl">
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-repeat="item in items" ng-click="loadItem(item)">
            
         {{item.gameevents}} {{item.date}} {{item.time}}
         <br>
         <a class="new-button--cta" style="width:200px;">
             <img  onerror="this.src='./beijing1.png'" src="{{item.homeurl}}">  {{item.hometeam}}</a><br>
      <a class="new-button--cta" style="width:200px;">
         <img  onerror="this.src='beijing1.png'" src="{{item.visitingurl}}"> {{item.visitingteam}}
      </a>
           
        </li>
    </ul>
</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>