
<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
 
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">用户登录</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
   
    </div>
</div>

<div class="pad" ng-controller="LoginCtrl">
    
    <div class="centerize">
       <br>
       请输入手机号码
       <br>
     <input
         type="tel"
         required
         class="topcoat-text-input"
         value=""
         ng-model="formData.tel"
         placeholder="13800000000">
         <br>
   
   <a class="topcoat-button--cta" ng-click="slidePage('/step1')"">下一步</a>
    </div>
    
   
    
    
    
</div>


<ng-include src="'partials/settingsOverlay.html'"></ng-include>