
<div class="topcoat-navigation-bar__item">
    <a class="topcoat-icon-button" ng-click="slidePage('/step3')">
        返回
    </a>
</div>

<div class="topcoat-navigation-bar" ng-controller="SendAnonymousMessageCtrl">
<lable class="topcoat-text-input" ng-show="message">{{ message }}</lable>

    <br>
    <input
        type="text"
        name="s_message"
        required
        class="topcoat-text-input"
        placeholder="请输入消息内容"
        ng-model="formData.s_message">
      
   <a class="topcoat-button--cta" ng-click="sendmessage()">确定</a>
   <br>
</div>
<br>
<lable class="topcoat-text-input">匿名白板</lable>
<div class="topcoat-list__container list" ng-controller="AnonymousChatCtrl">

    <ul class="topcoat-list">
        <li class="topcoat-list__item--first" ng-repeat="item in items" >
            {{item.username}}:{{item.message}}
        </li>
     </ul>

</div>



