<!--<div class="topcoat-navigation-bar" ng-controller="Exithome">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="exhome()">
            <<
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">游戏大厅</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
      
    </div>
</div>-->
<div class="gamedatingbg">

<div class="new-text-input" ng-controller="LoginRoomCtrl">
    <lable class="topcoat-text-input"
        ng-click="slidePage('/viewuserlist','modal')"
        
        ng-show="message">{{ message }}局 查看所有用户
   
    </lable>
    
</div>

<div class="anonymousarea" ng-controller="AnonymousChatCtrl">
<lable class="new-text-input" ng-show="message" ng-click="loadItem(item)">{{ message }}</lable>
  <lable  ng-repeat="item in items" ng-click="loadItem(item)">
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>{{item.username}}{{item.message}}
     </lable>
</div>



<div class="gameiconarea"  >
    <div class="topcoat-button-cbs" ng-click="slidePage('/cbsview')"></div>
    <span style="width:90px;">猜比赛</span>
   
</div>

    
</div>
