<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a style="margin-top:10px;"class="topcoat-button" ng-click="slidePage('/')">
           <<
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">验证码</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">

    </div>
</div>


<div class="topcoat-list__container list" ng-controller="GetCodesCtrl">
    
  <ul class="topcoat-list">
           <li  class="topcoat-list__item" ng-repeat="item in items" ng-click="loadItem(item)">
             <input style="width:150px;" readonly="readonly"  type="tel" required class="topcoat-text-input" value="{{items.result}}" placeholder="自动获取验证码">       <a class="topcoat-button--cta"  >下一步</a>
           </li>
       </ul>
</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>