
<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button" ng-click="slidePage('/step3')"><<
            
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">当前用户列表</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
     
    </div>
</div>

<div ng-controller="GetUserListCtrl">
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-repeat="item in items" ng-click="loadItem(item)">
            {{item.username}}
        </li>
    </ul>
</div>

